@import 'tailwindcss';

:root {
  --primary: #ededed;
  --primary-contrast: #171717;
  --accent: #7c3aed;
  --accent-2: #2b7fff;
  --glow: #9d4edd;
}

@theme {
  --color-primary: var(--primary);
  --color-primary-contrast: var(--primary-contrast);
  --color-accent: var(--accent);
  --color-accent-2: var(--accent-2);
  --color-glow: var(--glow);
}

html[data-theme='dark'] {
  --primary: #171717;
  --primary-contrast: #ededed;
}

body {
  background: var(--primary);
  color: var(--color-primary-contrast);
  transition: all 0.3s linear;
  font-family: var(--font-inter), Arial, sans-serif;
}
