@import 'tailwindcss';

:root {
  --primary: #ededed;
  --primary-contrast: #171717;
}

@theme {
  --color-primary: var(--primary);
  --color-primary-contrast: var(--primary-contrast);
  --color-secondary: #2466cb;
}

html[data-theme='dark'] {
  --primary: #171717;
  --primary-contrast: #ededed;
}

body {
  background: var(--primary);
  color: var(--color-primary-contrast);
  transition: all 0.3s linear;
  font-family: var(--font-inter), Arial, sans-serif;
}
